<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <TodoList/>
  </div>
</template>

<script>
// @ is an alias to /src

import Login from '@/components/Login.vue'
import TodoList from '@/components/TodoList.vue'

export default {
  name: 'home',
  components: {
    Login,
    TodoList
  }
}
</script>
<style>

</style>

