<template>
<div>
    <h3>Login</h3>
    <form @submit.prevent="login">
        <input v-model="username" name="email" id="email" placeholder="ingresa tu email" type="email">
        <input v-model="password" name="password" id="password" placeholder="ingresa tu contraseña" type="password">
        <button type="submit">ingresa</button>
    </form>
</div>  
</template>
<script>
export default {
    name:'login',
    data(){
        return{
            username:'',
            password:''
        }
    },
    methods: {
        login(){
            this.$store.dispatch('retrieveToken',{
                username:this.username,
                password:this.password
            })
        }
    }
}
</script>
<style>

</style>


